$border_color: #d4d4d4;
$text_color: #444;

// Identity
$primary_color: #041836; //Use for background page & navbar
$secondary_color: #ffb400; // Use for button and other link background
$third_color: #0249a6; //Use for footer
$invert_third_color: #bb6002;

