.carousel-films-wrapper {
    @include widthCustomContainer();
    @apply overflow-hidden my-10;

    h3 {
        @apply text-xl text-white mb-4;
    }

    .carousel-films-item {
        margin: 0 20px;
        @apply relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            z-index: 1;
            @apply w-full h-full bg-gradient-to-t from-primary from-15% to-transparent pb-12;
        }

        &--info {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            @apply flex justify-start items-end gap-2 text-sm sm:text-base w-full h-full p-3;

            h5 {
                @apply text-white line-clamp-1;
            }

            &--exclusive {
                @apply text-slate-700 bg-secondary px-2 py-1 rounded-md;
            }
        }
        img {
            @apply aspect-video object-cover w-full rounded-none;
        }

        @include onMobileDisplay() {
            margin: 0 5px;
        }
    }
}
