@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/mixins";
@import "./styles/variables.module";
@import "./styles/login.module";

//Components
@import "./styles/components/navabar.module";
@import "./styles/components/footer.module";
@import "./styles/components/heroBanner.module";

:root {
    color: $text_color;
    --primary-color: #{$primary_color};
    --secondary-color: #{$secondary_color};
    --third-color: #{$third_color};
    --invert-third-color: #{$invert_third_color};
}

body {
    position: relative;
    background-color: $primary_color;

    .container-pages {
        width: 100vw;
        min-height: 100vh;
        height: auto;
    }

    .bg-pages {
        background-color: $primary_color;
    }

    .bg-login {
        background-image: url("/bg-login.jpeg");
        background-color: #01449c;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: bottom left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.carousel-films-wrapper {
    @include widthCustomContainer();
    @apply overflow-hidden my-10;

    h3 {
        @apply text-xl text-white mb-4;
    }

    .carousel-films-item {
        margin: 0 20px;
        @apply relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            z-index: 1;
            @apply w-full h-full bg-gradient-to-t from-primary from-15% to-transparent pb-12;
        }

        &--info {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            @apply flex justify-start items-end gap-2 text-sm sm:text-base w-full h-full p-3;

            h5 {
                @apply text-white line-clamp-1;
            }

            &--exclusive {
                @apply text-slate-700 bg-secondary px-2 py-1 rounded-md;
            }
        }
        img {
            @apply aspect-video object-cover w-full rounded-none;
        }
    }
}

// Start Custom React-Multiple-Carousel
// =============================================

.react-multi-carousel-list {
    margin: 0 -20px !important;
}
.react-multiple-carousel__arrow {
    background-color: $third_color !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
.react-multiple-carousel__arrow::before {
    color: #111111 !important;
}
.react-multiple-carousel__arrow--left {
    left: 1.5rem !important;
}
.react-multiple-carousel__arrow--right {
    right: 1.5rem !important;
}

// =============================================
// End Custom React-Multiple-Carousel
