@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/mixins";
@import "./styles/variables.module";
@import "./styles/login.module";

//Components
@import "./styles/components/navabar.module";
@import "./styles/components/footer.module";
@import "./styles/components/heroBanner.module";
@import "./styles/components/filmItems.module";

:root {
    color: $text_color;
    --primary-color: #{$primary_color};
    --secondary-color: #{$secondary_color};
    --third-color: #{$third_color};
    --invert-third-color: #{$invert_third_color};
}

body {
    position: relative;
    background-color: $primary_color;

    .container-pages {
        width: 100vw;
        min-height: 100vh;
        height: auto;
    }

    .bg-pages {
        background-color: $primary_color;
    }

    .bg-login {
        background-image: url("/bg-login.jpeg");
        background-color: #01449c;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: bottom left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

// Start Custom React-Multiple-Carousel
// =============================================

.react-multi-carousel-list {
    margin: 0 -20px !important;
    @include onMobileDisplay() {
        margin: 0 -10px !important;
    }
}
.react-multiple-carousel__arrow {
    background-color: $third_color !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;

    @include onMobileDisplay() {
        min-width: 30px !important;
        min-height: 30px !important;
    }
}
.react-multiple-carousel__arrow::before {
    color: #111111 !important;

    @include onMobileDisplay() {
        font-size: 10px !important;
    }
}
.react-multiple-carousel__arrow--left {
    left: 1.5rem !important;
}
.react-multiple-carousel__arrow--right {
    right: 1.5rem !important;
}

// =============================================
// End Custom React-Multiple-Carousel
